name: build

on:
  push:
    branches: [ work ]
  pull_request:
    branches: [ work ]

jobs:
  build:
    strategy:
      matrix:
        os: ['ubuntu', 'windows']
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          token: '${{ secrets.GITHUB_PAT }}'
          submodules: recursive
      - name: get python
        uses: actions/setup-python@v2
      - name: get conan
        uses: turtlebrowser/get-conan@main
      - name: build
        run: ./ci/ci.bash
        shell: bash
      - name: upload-artifacts
        uses: actions/upload-artifact@v2
        with:
          name: godot-steam-api-${{ matrix.os }}
          path: work/install
  
  package:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: download all build artifacts
        uses: actions/download-artifact@v2
        with:
          path: work/artifacts
      - name: build
        run: sh ci/package.bash work/artifacts
        shell: bash
      - name: upload-artifacts
        uses: actions/upload-artifact@v2
        with:
          name: project
          path: app

  publish:
    needs: [package]
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          ref: master
      - name: download all build artifacts
        uses: actions/download-artifact@v2
        with:
          name: project
      - name: build
        run: ls
        shell: bash
      - name: commit
        run: |
          git config --global user.name 'samsface'
          git config --global user.email 'samsface@users.noreply.github.com'
          git add -A
          git commit -am "automated commit"
          git push

  remove-old-artifacts:
    needs: [publish]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: remove-old-artifacts
      uses: c-hive/gha-remove-artifacts@v1
      with:
        age: '10 minutes'
